.slider {
    position: relative;
    border-radius: 5px;
    background: #E0E0E0;
    background: linear-gradient(left top, #E0E0E0, #EEEEEE);
    width: 310px;
    height: 5px;
    margin: 5px;
  }
  
  .thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    background: blue;
    cursor: pointer;
    transition: .2s width height;
  }
  
  .thumb:active {
    top: -7px;
    width: 20px;
    height: 20px;
  }
  
  .thumb2 { right: 0; }